example_tex
examples/my_docs
examples/my_split_docs
examples/my_docs3
**/__pycache__/
docs/build/
**.pyc
*.pyc
pytexmd/filter/__pycache__/
examples/tex/
.pytexmd-editor/


build
dist
*.egg-info/
examples/output/
examples/tex/
