example_tex
examples/my_docs
examples/my_docs2
examples/my_docs3
# Ignore Python cache files
**/__pycache__/
#**/*.py[cod]
docs/build/
**.pyc
*.pyc
pytexmd\filter\__pycache__\
pytexmd/filter/__pycache__/
examples_tex